@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav-bar-mobile{
    display: none;
}

.nav-links{
    display: none;
}

.nav-links.active {
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;  
    justify-content: space-between; 
    height: 100vh;  
    width: 200px;
    border-right: 1px solid var(--color-border-grey-light);
}

.sidebar-logo{
    padding: 10px 70px;
}

.sidebar-logo img{
    width: 60px;
}

.sidebar-usuario{
    display: flex;
    padding: 0px 10px;
    gap: 4px;
}

.datos-nombre{
    font-size: var(--tamano-texto);
    font-weight: var(--font-weight-regular);
}

.datos-rol{
    background-color: var( --color-fondo-orange-light);
    width: 65px;
    padding: 3px 5px;
    border-radius: 10px;
    text-align: center;
    font-size: var(--tamano-texto-pequeno);
    font-weight: var(--font-weight-regular);
    color: var(--color-primario);
}

.sidebar-enlaces{
    display: flex;
    flex-direction: column;
    padding: 17px 20px;
    gap: 30px;
}
.enlace{
    align-items: center;
    display: flex;
    gap: 5px;
}

.enlace a{
    text-decoration: none;
    color: var(--color-subtitulo);
    font-size: var(--tamano-enlaces);
    font-weight: var(--font-weight-regular);
}

.sideber-cerrar{
    display: flex;
    background-color: var(--color-fondo-orange-strong);
    color: var(--color-texto-boton);
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    gap: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: auto;
}
.sidebar-cerrar h3{
    font-size: var(--tamano-texto-boton);
    font-weight: var(--font-weight-regular);
}

@media screen and (max-width: 786px) {
    .sidebar{
        display: none;
    }

    .icono-nav{
        cursor: pointer;
    }

    .nav-links {
        padding: 0;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        position: absolute; 
        z-index: 500;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, #FFA726, #FF5722);
    }

    .nav-links li {
        text-align: center;
        padding: 15px;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: var(--font-weight-bold);
        font-size: var(--tamano-subtitulo);
    }

    .nav-bar-mobile{
        display: block;
        display: flex;
        padding: 10px 12px;
        align-items: center;
        justify-content: space-between;
    }
}